<div  class="register_header">
    <img src="../images/login/denglutop.png" />
</div>
<div class="register_main">
    <div class="username_group register_input_group ">
        <img class="register_group_icon" src="../images/login/wo.png" />
        <div  class="register_group_input">
            <input class="register_username_input" type="text" ng-model="username" placeholder="请输入手机号"/>
            <div class="register_get_code">验证码</div>
        </div>
    </div>
    <div class="password_group register_input_group ">
        <img class="register_group_icon" src="../images/login/suo.png" />
        <div  class="register_group_input">
            <input type="password" ng-model="password" placeholder="请输入密码"/>
        </div>
    </div>
    <div class="code_group register_input_group ">
        <img class="register_group_icon" src="../images/login/suo.png" />
        <div  class="register_group_input">
            <input type="text" ng-model="code" placeholder="短信验证码"/>
        </div>
    </div>
    <div class="register_btn center " tapmode=""  ng-click="register()">
        注册
    </div>
    <div class="register_xieyi">

    </div>
</div>