.register_header{
	width:18rem;
	heigth:auto;
}
.register_header img{
	width:18rem;
	height: 8rem;
}

.register_main{
	width:18rem;
	height:auto;
	margin-top:1rem;

}
.register_input_group{
	margin-left:1.5rem;
	width:15rem;
	height:auto;
	border-bottom:0.01rem solid #939393;
	margin-top:1.2rem;
}

.register_group_icon{
	width:1.5rem;
	height:1.5rem;
	margin-top:0.2rem;
}
.register_group_input input{
	float:left;
	outline:none;
	border:none;
	height:1.7rem;
	margin-left:0.6rem;
	margin-right:0.3rem;
	width:11.3rem;
	font-size:0.7rem;
	line-height:1.7rem;
	color:#939393;
	font-family: '微软雅黑';
}
.username_group input{
	width:8rem;
}
.register_get_code{
	font-size:0.6rem;
	height:1.5rem;
	width:4rem;
	text-align: center;
	margin-top:0.1rem;
	line-height: 1.5rem;
	border:0.05rem solid #56e59b;
	background:#56e59b;
	border-radius:0.15rem;
	color:#fff;
	float:left;
}
.register_clean_input{
	width:0.8rem;
	height:0.8rem;
	margin-top:0.6rem;
}

.register_remeber_me{
	width:16rem;
	font-size:0.7rem;
	line-height: 0.8rem;
	margin-top:0.6rem;
	margin-left:2rem;

}
.register_remeber_me  img{
	width:0.8rem;
	height:0.8rem;
	margin-right:0.5rem;
}
.register_btn{
	width:12.5rem;
	margin-left:2.5rem;
	margin-top:2rem;
	height:2rem;
	line-height:2rem;
	border-radius:0.25rem;
	border:#56e59b solid 0.05rem;
	color:#ffffff;
	background:#56e59b;
}
.register_forget_register{
	width:12.5rem;
	margin-left:2.5rem;
	margin-top:1rem;
	font-size:0.7rem;

}
.register_register{
	float:right;
}