<div class="ltopt_content">
    <div class="ltopt_header">
        <span class="ltopt_header_left greenBg">&nbsp;</span>第<span>2015-133</span>期 <span class="red">11/13 19:40</span><span class="red">截止</span>
    </div>
    <div class="ltopt_main grayBg" ng-include="tempUrl">

    </div>
    <div class="ltopt_footer greenBar">
        <div class="ltopt_footer_clean" ng-click="clearSelect()">
            <img class="" src="images/clear.png" />
            <div>清除</div>
        </div>
        <div class="ltopt_count_info center">
            <span>{{zhuNum}}</span>注 共<span class="red">{{moneyNum}}</span>元
        </div>

        <div class="ltopt_submit greenBg" ng-click="toOptList()">
            下一步
        </div>

    </div>
</div>